# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025-Present Defense Unicorns

name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [milestoned, opened, edited, synchronize]

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: go-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: build & test
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - run: make clean all
      - run: |
          if ! git diff --exit-code maru2.schema.json schema/*/schema.json; then
            echo "Schema files are dirty. Please run 'make' and commit the changes"
            exit 1
          fi
      - run: |
          go test -race -covermode=atomic -coverprofile=coverage.out -failfast -timeout 3m ./...
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - if: failure()
        run: |
          curl -H "Authorization: Bearer $GITHUB_TOKEN" https://api.github.com/rate_limit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          go tool cover -func=coverage.out | sort -k3 -n
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - run: |
          for v in ./schema/*; do
            for f in FuzzTaskNamePattern FuzzEnvVariablePattern; do
              go test "$v" -run=^$ -fuzz="$f" -fuzztime=5s
            done
          done

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: latest
